<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="shuttle">
			<section name="purgeQueues" type="Shuttle.Esb.Modules.PurgeQueuesSection, Shuttle.Esb.Modules"/>
		</sectionGroup>
	</configSections>

	<shuttle>
		<purgeQueues>
			<queues>
				<queue uri="msmq://./inbox" />
				<queue uri="sql://./inbox" />
			</queues>
		</purgeQueues>
	</shuttle>
</configuration>